@charset "UTF-8";

.animate-top,
.animate-bottom,
.animate-left,
.animate-right {
  opacity: 0;
  @include animation-duration(.6s);
  @include animation-fill-mode(forwards);
}

.animate-top {
  @include animation-name(animate-top);
  @include transform(translateY(-12.5vh));
}

.animate-bottom {
  @include animation-name(animate-bottom);
  @include transform(translateY(12.5vh));
}

.animate-left {
  @include animation-name(animate-left);
  @include transform(translateY(-12.5vh));
}

.animate-right {
  @include animation-name(animate-right);
  @include transform(translateY(12.5vh));
}

@include keyframes(animate-top) {
  0% {
    @include transform(translateY(-12.5vh));
    opacity: 0;
  }
  100% {
    @include transform(translateY(0));
    opacity: 1;
  }
}

@include keyframes(animate-bottom) {
  0% {
    @include transform(translateY(12.5vh));
    opacity: 0;
  }
  100% {
    @include transform(translateY(0));
    opacity: 1;
  }
}

@include keyframes(animate-left) {
  0% {
    @include transform(translateX(-12.5vh));
    opacity: 0;
  }
  100% {
    @include transform(translateX(0));
    opacity: 1;
  }
}

@include keyframes(animate-right) {
  0% {
    @include transform(translateX(12.5vh));
    opacity: 0;
  }
  100% {
    @include transform(translateX(0));
    opacity: 1;
  }
}

.animate-fade {
  opacity: 0;
  @include animation-name(animate-fade);
  @include animation-duration(.4s);
  @include animation-fill-mode(forwards);
}

@include keyframes(animate-fade) {
    0% { opacity: 0 }
  100% { opacity: 1 }
}

@include keyframes(animate-zoom) {
  0% {
    @include transform(scale(.9));
    opacity: 0;
  }
  50% {
    @include transform(scale(1.03));
    opacity: 1;
  }
  100% {
    @include transform(scale(1));
    opacity: 1;
  }
}

.animate-zoom {
  opacity: 0;
  @include animation-name(animate-zoom);
  @include animation-duration(.2s);
  @include animation-fill-mode(forwards);
}

@include keyframes(animate-highlight) {
  0% {
    background-color: rgba(#ddff9e, 0.5);
    background-color: rgba(#bfff47, 0.5);
  }
  100% {
    background-color: rgba(#ddff9e, 0);
    background-color: rgba(#bfff47, 0);
  }
}

.animate-highlight {
  @include animation-name(animate-highlight);
  @include animation-duration(2s);
  @include animation-fill-mode(forwards);
}

.animate-delay-1 { @include animation-delay(.1s) }
.animate-delay-2 { @include animation-delay(.2s) }
.animate-delay-3 { @include animation-delay(.4s) }
.animate-delay-4 { @include animation-delay(.6s) }
.animate-delay-5 { @include animation-delay(1s) }
.animate-delay-6 { @include animation-delay(2s) }

.animate-duration-1 { @include animation-duration(.1s) }
.animate-duration-2 { @include animation-duration(.2s) }
.animate-duration-3 { @include animation-duration(.4s) }
.animate-duration-4 { @include animation-duration(.6s) }
.animate-duration-5 { @include animation-duration(1s) }
.animate-duration-6 { @include animation-duration(2s) }

.animate-linear { @include animation-timing-function(linear) }
.animate-ease-in { @include animation-timing-function(ease-in) }
.animate-ease-out { @include animation-timing-function(ease-out) }
.animate-ease-in-out { @include animation-timing-function(ease-in-out) }

.animate-motion-1 { @include animation-timing-function(cubic-bezier(0.62, 0.28, 0.23, 0.99)) }
.animate-motion-2 { @include animation-timing-function(cubic-bezier(0.075, 0.82, 0.165, 1)) }
.animate-motion-3 { @include animation-timing-function(cubic-bezier(0.215, 0.61, 0.355, 1)) }
.animate-motion-4 { @include animation-timing-function(cubic-bezier(0.19, 1, 0.22, 1)) }
